hyper==0.7.0
Pillow~=9.2.0
simplejson==3.18.3
requests==2.28.2
CouchDB~=1.2
pytz==2022.7.1
schedule==1.1.0
qrcode==7.4.2
python-telegram-bot~=20.00
pydantic==1.10.4
furl~=2.1.2
python-barcode==0.14.0
httpx~=0.23.0