Pillow>=11.1.0
simplejson>=3.20.1
requests>=2.28.2
CouchDB>=1.2
qrcode>=8.1
pydantic>=2.11.2
furl>=2.1.4
httpx[socks]>=0.27.2
httpx-socks~=0.9.1
opencv-python>=4.9.0.80
pyzbar>=0.1.9
python-telegram-bot==21.9
ua_generator~=2.0.4
python-barcode~=0.15.1
barcode>=1.0.4
tzdata>=2025.2